body{
    
    background-color: black;

}

*{
    color: white;
}

#add,#edit{
    color: black;
}

.inputs{
    display: flex;
    justify-content: space-evenly;
    
}


.addbtn{
    display: flex;
    justify-content: center;
}

input{
    width: 300px;
    color: black;
}
.data{
    margin: 30px;
}

table{

    margin: auto;
    margin-top: 40px;
    background-color: black !important;
    width: 90% !important;
    
}

tr,td,th{
    background-color: black !important;
    color: white !important;
}

.material-icons{
    margin: 0 5px;
    cursor: pointer;
}

.filter{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}